.wp-block-columns {

	.wp-block-column {

		/* Resetting margins to match _block-container.scss */
		margin-bottom: 0;

		& > * {
			margin-top: var(--global--spacing-unit);
			margin-bottom: var(--global--spacing-unit);

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/**
	 * Block Options
	 */
	&.alignfull {
		padding-left: var(--global--spacing-unit);
		padding-right: var(--global--spacing-unit);
	}
}
