.wp-block-code {
	color: var(--global--color-foreground);
	font-size: var(--global--font-size-sm);
	padding: #{map-deep-get($config-global, "spacing", "unit")};
	border-color: var(--global--color-border);

	pre {
		color: var(--global--color-foreground);
	}
}
