:root {

	// Colors
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--button--color-text);
	--button--color-background: var(--global--color-primary);
	--button--color-background-hover: var(--global--color-primary-hover);

	// Fonts
	--button--font-family: var(--global--font-primary);
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: bold;
	--button--font-line-height: 1;

	// Borders
	--button--border-radius: 9999px;

	// Spacing
	--button--spacing-unit: calc(0.75 * var(--global--spacing-unit));
}

button,
.button,
input[type="submit"],
.wp-block-button__link,
.wp-block-file__button {

	color: var(--button--color-text);
	cursor: pointer;
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	line-height: var(--button--font-line-height);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	border-width: 0;
	padding: var(--button--spacing-unit) calc(1.5 * var(--button--spacing-unit));

	&:hover,
	&:focus,
	&.has-focus {
		color: var(--button--color-text-hover);
		background-color: var(--button--color-background-hover);
	}
}

/**
 * Block Options
 */
.wp-block-button {

	// Outline Style
	&.is-style-outline {

		.wp-block-button__link {
			color: var(--button--color-background);
			background: transparent;
			border: 2px solid currentcolor;

			&:hover,
			&:focus,
			&.has-focus {
				color: var(--button--color-background-hover);
			}
		}
	}

	// Squared Style
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}
