/**
 * Site Structure
 *
 * - Set vertical margins and responsive widths on
 *   top-level wrappers and content wrappers
 * - `--global--width-content` is a responsive veriable
 * - See: globals/_global-width-responsive.scss
 */

/**
 * Top Level Wrappers (header, main, footer)
 * - Sets main site-width and vertical padding
 */
.site-header,
.site-main,
.site-footer {
	@extend %responsive-content-width;
	padding: map-deep-get($config-global, "spacing", "vertical") map-deep-get($config-global, "spacing", "horizontal");
	margin-left: auto;
	margin-right: auto;

	@include media(mobile) {
		padding-left: 0;
		padding-right: 0;
	}
}

/**
 * Major content sections (article, author-bio, pagination, comments, etc.)
 * - Add double vertical margins here for clearer heirarchy
 */
.site-main > * {

	margin-top: calc(2 * #{map-deep-get($config-global, "spacing", "vertical")});
	margin-bottom: calc(2 * #{map-deep-get($config-global, "spacing", "vertical")});

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

/*
 * Block & non-gutenberg content wrappers
 * - Set widths and vertical margins
 */
.entry-header,
.post-thumbnail,
.entry-content,
.entry-footer,
.author-bio,
.widget-area {
	@extend %responsive-content-width;
	margin-top: map-deep-get($config-global, "spacing", "vertical");
	margin-right: auto;
	margin-bottom: map-deep-get($config-global, "spacing", "vertical");
	margin-left: auto;
}

/*
 * Block & non-gutenberg content wrapper children
 * - Sets spacing-vertical margins
 */
.site-footer > *,
.site-main > article > *, // apply vertical margins to article level
.entry-content > *,
.widget-area > * {

	margin-top: map-deep-get($config-global, "spacing", "vertical");
	margin-bottom: map-deep-get($config-global, "spacing", "vertical");

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

/*
 * Block & non-gutenberg content wrapper children
 * - Sets spacing-unit margins
 */
.site-header > *,
.entry-header > *,
.post-thumbnail > *,
.entry-content > *,
.comment-content > *,
.author-bio > * {
	margin-top: map-deep-get($config-global, "spacing", "unit");
	margin-bottom: map-deep-get($config-global, "spacing", "unit");

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}


/*
 * .entry-content children specific controls
 * - Adds special margin overrides for alignment utility classes
 */
.entry-content > * {

	&.alignleft,
	&.alignright,
	&.alignleft:first-child + *,
	&.alignright:first-child + *,
	&.alignfull {
		margin-top: 0;
	}

	&:last-child,
	&.alignfull {
		margin-bottom: 0;
	}

	/* Reset alignleft and alignright margins after alignfull */
	&.alignfull + .alignleft,
	&.alignfull + .alignright {
		margin-top: map-deep-get($config-global, "spacing", "vertical");
	}
}
