.wp-block-media-text {

	.wp-block-media-text__content {

		padding-left: var(--global--spacing-unit);
		padding-right: var(--global--spacing-unit);

		h1, h2, h3, h4, h5, h6, p {
			margin-top: var(--global--vertical-spacing-unit);
			margin-bottom: var(--global--vertical-spacing-unit);

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/**
	 * Block Options
	 */

	&.is-stacked-on-mobile .wp-block-media-text__content {
		padding-top: var(--global--spacing-unit);
		padding-bottom: var(--global--spacing-unit);
	}

	@include media(tablet) {

		&.is-stacked-on-mobile .wp-block-media-text__content {
			padding: 0 var(--global--spacing-unit);
		}
	}
}