$config-site-branding: (
	// Colors
	"color": (
		"text": map-deep-get($config-global, "color", "foreground"),
		"link": map-deep-get($config-global, "color", "primary"),
		"link-hover": map-deep-get($config-global, "color", "primary-hover"),
	),
	// Fonts & Typography
	"title": (
		// Fonts
		"font": (
			"family": map-deep-get($config-global, "font", "family", "primary"),
			"size": map-deep-get($config-global, "font", "size", "md"),
			"weight": bold,
			"line-height": 1,
		),
	),
	// Fonts & Typography
	"description": (
		// Fonts
		"font": (
			"family": map-deep-get($config-global, "font", "family", "secondary"),
			"size": map-deep-get($config-global, "font", "size", "sm"),
		),
	),
);

$config-site-main-nav: (

	// Colors
	"color": (
		"text": map-deep-get($config-global, "color", "foreground"),
		"link": map-deep-get($config-global, "color", "primary"),
		"link-hover": map-deep-get($config-global, "color", "primary-hover"),
	),

	"font": (
		"family": map-deep-get($config-global, "font", "family", "primary"),
		"size": map-deep-get($config-global, "font", "size", "md"),
		"weight": bold,
	),

	"link-padding": calc(0.66 * #{map-deep-get($config-global, "spacing", "unit")} ),
);

$config-site-social-nav: (

	// Colors
	"color": (
		"link": map-deep-get($config-global, "color", "primary"),
		"link-hover": map-deep-get($config-global, "color", "primary-hover"),
	),

	"link-padding": calc( 0.5 * #{map-deep-get($config-site-main-nav, "link-padding")} ),
);
