/**
 * Editor Post Title
 * - Needs a special styles
 */

.editor-post-title__block .editor-post-title__input {
	color: #{map-deep-get($config-global, "color", "foreground")};
	font-family: #{map-deep-get($config-heading, "font", "family")};
	font-weight: #{map-deep-get($config-heading, "font", "weight")};
	font-size: #{map-deep-get($config-heading, "font", "size", "h2")};
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h2")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h2")};
}

// Gutenberg Font-size utility classes
.is-small-text,
.has-small-font-size {
	font-size: #{map-deep-get($config-global, "font", "size", "sm")};
}

.is-regular-text,
.has-regular-font-size,
.has-normal-font-size,
.has-medium-font-size {
	font-size: #{map-deep-get($config-global, "font", "size", "md")};
}

.is-large-text,
.has-large-font-size {
	font-size: #{map-deep-get($config-heading, "font", "size", "h3")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h3")};
}

.is-larger-text,
.has-larger-font-size,
.has-huge-font-size {
	font-size: #{map-deep-get($config-heading, "font", "size", "h1")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h1")};
}

// Drop cap
.has-drop-cap:not(:focus)::first-letter {
	font-family: #{map-deep-get($config-heading, "font", "family")};
	font-size: calc(2 * #{map-deep-get($config-heading, "font", "size", "h1")};);
	font-weight: #{map-deep-get($config-heading, "font", "weight")};
}