// Reset
// Based on minireset.css v0.0.3
// https://github.com/jgthms/minireset.css

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

ul {

}

button,
input,
select,
textarea {
  margin: 0;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

// Base styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	// Set mobile font-size to one step lower for mobile
	font-size: #{map-deep-get($config-global, "font", "size", "root") / map-deep-get($config-global, "font", "size", "ratio")};
	font-family: #{map-deep-get($config-global, "font", "family", "secondary")};
	line-height: #{map-deep-get($config-global, "font", "line-height", "body")};

	// Set mobile and ^ font-size to normal root
	@include media(mobile) {
		font-size: #{map-deep-get($config-global, "font", "size", "root")};
	}
}

body {
  font-size: #{map-deep-get($config-global, "font", "size", "base")};
  font-weight: normal;
  color: #{map-deep-get($config-global, "color", "foreground", "default")};
  text-align: left;
  background-color: #{map-deep-get($config-global, "color", "background")};
}

// Links styles

a {
	color: #{map-deep-get($config-global, "color", "primary", "default")};

	&:hover {
		color: #{map-deep-get($config-global, "color", "primary", "hover")};
	}
}

button,
a {
  cursor: pointer;
}
