.wp-block-file {

	.wp-block-file__button {
		background: var(--global--color-primary);
		color: var(--global--color-background);
		font-size: var(--global--font-size-sm);
		margin-left: var(--global--spacing-unit);
		margin-right: var(--global--spacing-unit);
	}

	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover,
	a.wp-block-file__button:visited {
		color: var(--global--color-background);
		opacity: .85;
	}
}
