/**
 * Filter Sass map values for child theme output.
 * - See: style-child-theme-name.scss
 */

$config-global: map-deep-set($config-global, "font" "size" "root", "22px");
$config-global: map-deep-set($config-global, "font" "family" "primary", "Georgia");
$config-global: map-deep-set($config-global, "font" "family" "secondary", "Arial");
$config-global: map-deep-set($config-global, "color" "primary" "default", pink);

// Button
$config-button: map-deep-set($config-button, "color" "background", orange);

// Header
$config-header: map-deep-set($config-header, "branding" "title" "font" "family", "Verdana");
