:root {
	--site-branding--color-text: var(--global--color-foreground);
	--site-branding--color-link: var(--global--color-primary);
	--site-branding--color-link-hover: var(--global--color-primary-hover);
	--site-branding--title--font-family: var(--global--font-primary);
	--site-branding--title--font-size: var(--global--font-size-md);
	--site-branding--title--font-weight: bold;
	--site-branding--description--font-family: var(--global--font-secondary);
	--site-branding--description--font-size: var(--global--font-size-sm);
	--site-branding--description--font-family: var(--global--font-secondary);
}

// Site logo

.site-logo {

}

// Site branding

.site-branding {
	color: var(--site-branding--color-text);
}

// Site title

.site-title {

	color: var(--site-branding--color-link);
	font-family: var(--site-branding--title--font-family);
	font-size: var(--site-branding--title--font-size);

	a {
		color: currentColor;
		font-weight: var(--site-branding--title--font-weight);

		&:link,
		&:visited {
			color: currentColor;
		}

		&:hover {
			color: var(--site-branding--color-link-hover);
		}
	}
}

// Site description

.site-description {
	color: currentColor;
	font-family: var(--site-branding--description--font-family);
	font-size: var(--site-branding--description--font-size);
}
