.comment-respond {
	margin-top: calc(2 * #{map-deep-get($config-global, "spacing", "vertical")});
}

.comment-respond > * {
	margin-top: #{map-deep-get($config-global, "spacing", "unit")};
	margin-bottom: #{map-deep-get($config-global, "spacing", "unit")};

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.comment-form > p {
	margin-top: #{map-deep-get($config-global, "spacing", "unit")};
	margin-bottom: #{map-deep-get($config-global, "spacing", "unit")};

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	label,
	input[type="email"],
	input[type="text"],
	input[type="url"],
	textarea {
		width: 100%;
	}

	@include media(mobile) {
		display: flex;

		label {
			width: 25%;
		}

		input[type="email"],
		input[type="text"],
		input[type="url"],
		textarea {
			width: 75%;
		}

		&.comment-notes,
		&.logged-in-as {
			display: block;
		}
	}
}
