.wp-block-separator,
hr {
    border-bottom: #{map-deep-get($config-separator, "height")} solid #{map-deep-get($config-global, "color", "border")};
	margin: #{map-deep-get($config-global, "spacing", "vertical")} auto;

	/**
	 * Block Options
	 */
	&.is-style-wide {
		border-bottom-width: #{map-deep-get($config-separator, "height")};
	}

	&.is-style-dots {

		&:before {
			color: #{map-deep-get($config-global, "color", "border")};
			font-size: #{map-deep-get($config-global, "font", "size", "xl")};
			letter-spacing: #{map-deep-get($config-global, "font", "size", "sm")};
			padding-left: #{map-deep-get($config-global, "font", "size", "sm")};
		}
	}
}
